
html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: normal 90% Arial, Helvetica, sans-serif;
	color: #000;
	background: #FFF;
	background-image:url(bluebackground.jpg);
	background-size: cover;
}

input {
	height:30px;
	padding:5px;
	margin:3px;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section {
	display: block;
}

p {
	padding: 0 0 10px 0;
	line-height: 1.7em;
	font-size: 100%
}

img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	font: bold 150% 'News Cycle', Arial, sans-serif;
	color: #C44762;
	margin: 10px 0 10px 0;
}

h2 {
	font-family: 'Lobster', cursive;
	font-size:33px;
	letter-spacing:3px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}



header {
	position: relative;
	background: #283F51;
	height: 70px;
	padding:10px;
	border-bottom:1px solid white;
}
#menu {
	float:right;
	display:inline;
	position:absolute;
	top:10px;
	right:10px;
}

ul li {
	text-align: center;
	background: transparent;
	display:inline;
}

ul li a {
	text-decoration:none;
	color:white;
	font-size:15px;
	font-weight:bold;
	padding-right:10px;
}
ul li a:hover {
	text-decoration:none;
	color:#C44762;
	font-size:15px;
	font-weight:bold;
	padding-right:10px;
}

#site_content {
	padding-top: 20px;
	padding:5px;
	overflow: hidden;
	margin-bottom: 0px;
}


#contentinc {
	width: 100%;
	margin: 0 10px 20px 0;
	float: left;
}

.content_item {
	float: left;
	width: 650px;
	margin-bottom: 20px;
}


#footer {
	color: #FFF;
	background: #283F51;
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
	height:30px;
	border-top:1px solid white;
}


.divContainer {
	display: inline;
	background-color: white;
	border: 1px solid black;
}

.divItem {
    border-radius: 15px;
    border: 2px solid #C44762;
    padding: 20px; 
    width: 200px;
    height: 150px;
    display:inline;
    float:left;
    margin:3px;
    background-color:white;
    font-size:11px;
	color:black;
    background: -webkit-gradient(linear, 0% 20%, 0% 1000%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-bottom-right-radius: 6px 50px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2em;    
	position:relative;
}

.divItemLink {
	position:absolute;
	bottom:0px;
}

.divItem a {
	text-decoration: none;
    font-size:11px;
	color:#C44762;
	font-weight:bold;
}

.notebookLookTextarea {
	background: url(notebook.png) repeat-y;
	font: normal 14px verdana;
	line-height: 25px;
	padding-left:105px;
	padding-right:10px;
	border: solid 1px #ddd;
	width:60%;
	height: 68%;
	display: block;
	text-align: justify;
}


#successMessage {
	color:green;
	font-weight:bold;	
}